<div class="searchContainer">
  <input class="searchInput" type="search" id="search" placeholder="Search...">
  <div class="searchOutput" id="searchResults"></div>
</div>

<script>
   window.SEARCH_INDEX_URL = '{{ "index.json" | absURL }}';
</script>
<script src="{{ "js/lunr.min.js" | absURL }}"></script>
<script src="{{ "js/lunr.stemmer.support.js" | absURL }}"></script>
<script src="{{ "js/lunr.zh.js" | absURL }}"></script>
<script src="{{ "js/lunr.multi.js" | absURL }}"></script>
<script src="{{ "js/search.js" | absURL }}"></script>